<h1><%= @user.email %>'s Created Events</h1>

<div id="created_events">
  <% @user.created_events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<h1><%= @user.email %>'s Attended Events</h1>

<div id="attended_events">
  <% @user.attended_events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>