<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Attend this event", event_attendees_attend_path, method: :post, params: { event_id: @event.id } %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
